{% extends 'base.html' %}
{% block title %} Payment {% endblock %}

{% block content %}
 <h1> Payment Form </h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Loan Id</th>
      <th scope="col">Payment Number</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
         Loan ID Number 
        </button>
        <ul class="dropdown-menu">
        {% for x in loan %}
        <li><a class="dropdown-item" href="#"> {{ x.id }}</a></li>
        {% endfor %}
        </ul>
      </td>
      <td>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">1st</button>
      </td>
  <td> <input type="text"> </td>
    </tr>
  </tbody>
</table> 

<hr>

<button type="button" class="btn btn-primary">Submit Payment</button>
<button type="button" class="btn btn-primary">Print Receipt</button>
<button type="button" class="btn btn-primary">Print Payment Form</button>

<hr>

 <h1> Previous Payments </h1>

{% endblock %}
