{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<h1>Dashboard</h1>

<!-- Search Bar  -->
<div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort by</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Alphabetical</a></li>
    <li><a class="dropdown-item" href="#">Ascending Loan</a></li>
    <li><a class="dropdown-item" href="#">Date</a></li>
    <li><a class="dropdown-item" href="#">Payment Status</a></li>
  </ul>
 <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
</div>

<!-- Table -->
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact Info</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    {% for x in debtor %}
    <tr>
      <td><a href="{{x.id}}">{{ x.first_name }} {{x.last_name}}</a></td>
      <td>{{x.email }}</td>
      <td>{{x.contact }}</td>
      <td>{{x.address }}</td>
      <td> 
        <a href="{% url 'bank:update-debtor' x.id %}" class="btn btn-primary">Update</a>
      </td>
      <td> 
        <a href="{% url 'bank:delete-debtor' x.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table> 

<!-- CRUD -->
<a href="{% url 'bank:create-debtor' %}" class="btn btn-primary">Create Debtor</a>
<a href="{% url 'bank:create-loan' %}" class="btn btn-primary">Create Loan</a>

{% endblock %}
